{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
 About Us
{% endblock title %}

{% block content %}
<!-- Start main-content -->
<main class="main-content dt-sl mb-3">
    <div class="page-cover mb-2">
        <div class="page-cover-title">
            <h1>{% trans "About Us" %}</h1>
        </div>
    </div>
    <div class="container main-container">
        <div class="row">
            <div class="col-12">
                <div class="page info-page-cats dt-sl dt-sn pt-3 pb-5">
                    <div class="row">
                        
                        <div class="col-12 pr-4 mb-3">
                            <div class="section-title title-wide mb-1 no-after-title-wide">
                                <h2 class="font-weight-bold px-res-2">{% trans "About GLASSWING" %}</h2>
                            </div>
                        </div>
                        <p>
                            گلس وینگ با تاکید بر احترامی که برای حریم شخصی کاربران قائل است، برای خرید، ثبت نظر یا
                            استفاده از
                            برخی امکانات وب‌سایت اطلاعاتی را از کاربران درخواست می‌کند تا بتواند خدماتی امن و مطمئن
                            را
                            به
                            کاربران ارائه دهد. برای پردازش و ارسال سفارش، اطلاعاتی مانند آدرس، شماره تلفن و ایمیل
                            مورد
                            نیاز است
                            و از آنجا که کلیه فعالیت‌های گلس وینگ قانونی و مبتنی بر قوانین تجارت الکترونیک صورت
                            می‌گیرد
                            و طی
                            فرایند خرید، فاکتور رسمی و بنا به درخواست مشتریان حقوقی گواهی ارزش افزوده صادر می‌شود،
                            از
                            این رو
                            وارد کردن اطلاعاتی مانند نام و کد ملی برای اشخاص حقیقی یا کد اقتصادی و شناسه ملی برای
                            خریدهای
                            سازمانی لازم است. یادآوری می‌شود آدرس ایمیل و تلفن‌هایی که مشتری در پروفایل خود ثبت
                            می‌کند،
                            تنها آدرس
                            ایمیل و تلفن‌های رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخ‌های شرکت از طریق آنها
                            صورت
                            می‌گیرد.<br>
                            بنابراین درج آدرس، ایمیل و شماره تماس‌های همراه و ثابت توسط مشتری، به منزله مورد تایید
                            بودن
                            صحت آنها
                            است و در صورتی که موارد فوق به صورت صحیح یا کامل درج نشده باشد، دیجی‌کالا جهت اطمینان از
                            صحت
                            و قطعیت
                            ثبت سفارش می‌تواند از مشتری، اطلاعات تکمیلی و بیشتری درخواست کند.<br>
                            مشتریان می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و
                            گلس وینگ
                            تنها
                            برای ارسال همان سفارش، از این اطلاعات استفاده خواهد کرد.<br>
                            همچنین گلس وینگ ممکن است برای ارتباط با مشتریان، بهینه‌سازی محتوای وب‌سایت و تحقیقات
                            بازاریابی از
                            برخی اطلاعات استفاده کند و برای اطلاع‌رسانی رویدادها و اخبار، خدمات و سرویس‌های ویژه یا
                            پروموشن‌ها،
                            برای اعضای وب‌سایت ایمیل یا پیامک ارسال نماید. در صورتی که کاربران تمایل به دریافت
                            اینگونه
                            ایمیل‌ها
                            و پیامک‌ها نداشته باشند، می‌توانند عضویت دریافت خبرنامه گلس وینگ را در پروفایل خود لغو
                            کنند. عدم
                            اقدام جهت لغو، به منزله ی موافقت ضمنی با دریافت ایمیل‌ها و پیام‌ها و سلب حق اعتراض
                            می‌باشد.<br></p>
                        <div class="message-light mx-0">
                             یک بخش مهم از متن
                        </div>
                        <p>
                            گلس وینگ ممکن است نقد و نظرهای ارسالی کاربران را در راستای رعایت قوانین وب سایت ویرایش
                            کند.
                            همچنین
                            اگر نظر یا پیام ارسال شده توسط کاربر، مشمول مصادیق محتوای مجرمانه باشد، گلس وینگ
                            می‌تواند
                            از
                            اطلاعات ثبت‌شده برای پیگیری قانونی استفاده کند. کاربران ضمن استفاده از خدمات وب‌سایت
                            دیجی‌کالا، حق
                            ویرایش اطلاعات و استفاده از آنها را در چارچوب فوق‌الذکر به دیجی‌کالا اعطا نموده و حق
                            اعتراض
                            را از
                            خود سلب می‌نمایند.<br>
                            <br>
                            
                            &nbsp;
                            
                            <br>
                            تلفن تماس و فکس:<br><a href="tel:+982161930000">
                                ۶۱۹۳۰۰۰۰ – ۰۲۱
                            </a>
                            (پاسخگویی ۲۴ ساعته، ٧ روز هفته)<br>
                            دفتر مرکزی:<br>
                            استان تهران - شهر تهران - اتوبان آزادگان - آهن مکان - نبش خیابان ۲۱ - پلاک ۲۸<br></p>
                    
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</main>
<!-- End main-content -->
{% endblock content %}





</html>