{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
 About Us
{% endblock title %}

{% block content %}
<!-- Start main-content -->
<main class="main-content dt-sl mb-3">
    <div class="page-cover mb-2">
        <div class="page-cover-title">
            <h1>{% trans "About Us" %}</h1>
        </div>
    </div>
    <div class="container main-container">
        <div class="row">
            <div class="col-12">
                <div class="page info-page-cats dt-sl dt-sn pt-3 pb-5">
                    <div class="row">
                        
                        <div class="col-12 pr-4 mb-3">
                            <div class="section-title title-wide mb-1 no-after-title-wide">
                                <h2 class="font-weight-bold px-res-2">{% trans "About GLASSWING" %}</h2>
                            </div>
                        </div>
                        <p>
                            <br>
                            شرکت گلس وینگز با هدف پشتیبانی و توانمندسازی فعالان صنعت ساختمان و همکاران حوزه درب‌های اتوماتیک و سازه‌های شیشه‌ای تأسیس شد.
                           ما با بهره‌گیری از دانش فنی متخصصان داخلی و دسترسی به فناوری‌های روز دنیا، مجموعه‌ای کامل از خدمات و راهکارهای تخصصی را در اختیار همکاران خود قرار می‌دهیم.<br>
                        ماموریت گلس وینگز، فراتر از تأمین محصول است. ما تلاش می‌کنیم با ارائه مشاوره فنی، آموزش تخصصی، پشتیبانی پس از فروش و تأمین قطعات و تجهیزات استاندارد، آرامش خاطر و امنیت شغلی همکاران را تضمین کنیم.
                        <br>واحد کنترل کیفیت ما به‌صورت مداوم بر عملکرد محصولات و خدمات نظارت دارد تا اطمینان حاصل شود همکاران ما در هر پروژه، نتیجه‌ای مطمئن و حرفه‌ای به کارفرمایان خود ارائه دهند.
                        </p>
                        <div class="message-light mx-0">
امروز گلس وینگز به‌عنوان بازوی پشتیبان بسیاری از شرکت‌ها، 
                            نصابان و فعالان حوزه درب‌های اتوماتیک، شیشه‌های ساختمانی و سیستم‌های کنترلی شناخته می‌شود. ما معتقدیم موفقیت واقعی زمانی به‌دست می‌آید که همکاران ما با اطمینان و آرامش، پروژه‌های خود را اجرا کنند.<br>
                                                   </div>
                        <p>
                             <br>
                            با نگاهی به آینده، گلس وینگز تمرکز خود را بر توسعه خدمات نوین، تأمین محصولات هوشمند و سازگار با فناوری‌های جدید قرار داده است تا همچنان انتخاب اول همکاران در صنعت درب و شیشه کشور باقی بماند.
                            
                            &nbsp;
                            
                            <br>
                            تلفن تماس و فکس:<br><a href="tel:۰۹۳۸۵۵۴۴۳۴۳">
                              ۰۹۳۸۵۵۴۴۳۴۳
                               <br> ۰۹۳۷۸۰۱۱۲۱۱
                              <br>  ۵۵۴۴۶۳۰۵ – ۰۲۱
                              <br>  ۵۵۴۴۶۳۰۶ – ۰۲۱
                              <br>  ۵۵۴۴۶۳۰۷ – ۰۲۱
                            </a>
                            (پاسخگویی ۲۴ ساعته، ٧ روز هفته)<br>
                            دفتر مرکزی:<br>
                           تهران اتوبان آزادگان بازار آهن مکان نبش سوم غربی پلاک ۶۸۵و۶۸۴<br></p>
                    
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</main>
<!-- End main-content -->
{% endblock content %}





</html>